{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="map_wrap">
        <div id="data" style="display: none">{{ data }}</div>
        <div id="map" style="width:1000px;height:500px; align-items:center; position:relative; overflow:hidden;
            margin: auto;"></div>

        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" value={{ title }} id="keyword" size="15">
                        <button type="submit">검색하기</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d07a36fe7230b397987fb6644e4be7c8"></script>


    <script src="{% static '/js/map.js' %}"></script>

    <script>
        var list_title = new Array()
    </script>

    <div style="border-radius: 1rem; margin: 2rem; text-align: center">
        <h1>

            {% for i in data %}
                <div>
                    {% for a,b,c,d,e,f in i %}
                        <div id="rank{{ f }}" style="display: none">{{ f }}</div>
                        <div id="title{{ f }}" style="display: none">{{ a }}</div>
                        <div id="address{{ f }}" style="display: none">{{ b }}</div>
                        <div id="score{{ f }}" style="display: none">{{ c }}</div>
                        <div id="lat{{ f }}" style="display: none">{{ d }}</div>
                        <div id="lng{{ f }}" style="display: none">{{ e }}</div>


                    {% endfor %}

                    <script src="{% static '/js/data.js' %}"></script>


                </div>
            {% endfor %}

        </h1>

    </div>

    <script src="{% static '/js/marker_multi.js' %}"></script>
    <script src="{% static '/js/marker_center.js' %}"></script>



{% endblock %}